// variables
:root {
  // FONT
  --main-font: "Kumbh Sans", sans-serif;

  // FONT_COLOR
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --border: hsl(0deg 0% 59% / 29%);
}
