//Responsive Variables.
$breakpoints: (
  small: 568px,
  medium: 812px,
  large: 1020px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

//Responsive Function
@mixin rwd($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (max-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (max-width: $bp) {
      @content;
    }
  }
}
